body {
  background-color: #F9EBEA;
}

.add-form {
  padding: 50px;
}

.active {
  background-color: #A93226 !important;
}

.bi {
  margin-right: 10px;
  font-size: 25px;
}

.box-info {
  overflow: hidden;
  background-color: #FCF3CF !important;
  padding: 5px;
  border-radius: 10px;
  color: #A93226 !important;
}

.box-info h1{
  width: 25%;
  text-align: center;

}

.box-info .float-parent {
  width: 75%;
}

.box-info .float-parent .float-start {
  width: 30%;
  margin: 0 auto;
}

.box-info .float-parent .float-start p {
  color: #8F9BB3;

}

.box-info .float-parent .float-end {
  width: 50%
  float: right;
}

.box-info .float-end h2, .box-info .float-end p {
  margin-bottom: 0 !important;
}

.heading {
  margin-top: 50px;
  margin-bottom: 30px;
  color: #A93226;
  font-weight: bold;
}

.logout {
  color: #FF4842 !important;
}

.main-content {
  background-color: white;
  padding: 20px;
}

.nav {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.nav a {
  color: #8F9BB3;
}

/* .nav-col {
  max-width: 250px;
} */

.nav-item {
  min-height: 65px;
}

.nav-link {
  height: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
}

.nav-link:focus, .nav-link:hover {
  color: #A93226;
}

.profile-pic {
  max-width: 150px;
  margin-bottom: 10px;
}

.side-content {
}

.assignments-tab {
  background-color: white;
  padding: 20px;
  height: 100%;
}

.assignments-tab h4 {
  color: #A93226;
  margin-top: 50px;
  margin-bottom: 20px;
}

.agenda-item {
  padding: 20px;
  border-left: 10px solid blue;
}

.agenda-item p {
  color: #8F9BB3;
}

.title {
  color: #A93226;
  /* margin: top right bottom left*/
  margin: 50px auto 50px auto;
}

#user-fullname {
  margin-bottom: 0px;
}
