.card {
    border-radius: 5px;
    height: 100%;
    cursor: pointer;
}

.col-3 {
    padding-bottom: 1.2vw;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card:hover {
    background-color: #A93226;
    color: white;
}
.card-title {
    margin-bottom: 20px;
    font-size: 1.4vw;
    display: inline-block;
}

.lancpp {
    color:blue;
    border: 1px solid #DACECD;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 75px 75px;
}

.card-text {
    margin-bottom: 15px;
    font-size: 1.2vw;
}

label {
    font-size: 1.2vw;
    display: block;
}

input {
    width: 100%;
    font-size: 1.2vw;
    border: 2px solid #DFDFDF;
    border-radius: 15px;
    outline: none;
}

.searchInput {
    height:fit-content;
}

.pinputError {
    display: none;
    padding-top: 10px;
    font-size: 1.2vw;
    color: red;
    margin-left: 10px;
}

.pautoFilled {
    display: inline-block;
    margin-top: 15px;
}

form {
    display:flex;
     flex-direction: column;
     height: 100%;
}

.table {
    height: 100%;
}

#psubmit {
    background-color: #A93226;
    color: white;
    padding: 10px 0px;
    border: none;
}

.table th, .table td {
    text-align: center;   
 }
 

.checkbox {
    height: fit-content;
    width: fit-content;
}

th:nth-child(1), td:nth-child(1) {
    display: none
  }