.card {
    border-radius: 5px;
    cursor: pointer;
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-text {
    flex-grow: 1;
}
.col-4 {
    margin-bottom: 1.2vw;
}

.card:hover {
    background-color: #A93226;
    color: white;
}

.card-title {
    margin-bottom: 10px;
    font-size: 1.4vw;
    display: inline-block;
}

.sec {
    border: 1px solid #DACECD;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 75px 75px;
    color: black;
}

.card-text {
    margin-bottom: 5px;
    font-size: 1.2vw;
}

.dot {
    height: 1vw;
    width: 1vw;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
}